<div class="row">
  <div class="col-md-2">
    <h1>xdfdfdf</h1>
    <p>xdcfb dgdg dfg df g df g dfg d fgdfgdf dfgd fgdfgdfgdf dfg d fgdf g df gdfgdfgdf gdf g df</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a> </p>
  </div>
  <div class="col-md-2">
    <h1>xdfdfdf</h1>
    <p>xdcfb dgdg dfg df g df g dfg d fgdfgdf dfgd fgdfgdfgdf dfg d fgdf g df gdfgdfgdf gdf g df</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a> </p>
  </div>
  <div class="col-md-2">
    <h1>xdfdfdf</h1>
    <p>xdcfb dgdg dfg df g df g dfg d fgdfgdf dfgd fgdfgdfgdf dfg d fgdf g df gdfgdfgdf gdf g df</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a> </p>
  </div>
  <div class="col-md-2">
    <h1>xdfdfdf</h1>
    <p>xdcfb dgdg dfg df g df g dfg d fgdfgdf dfgd fgdfgdfgdf dfg d fgdf g df gdfgdfgdf gdf g df</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a> </p>
  </div>
  <div class="col-md-2">
    <h1>xdfdfdf</h1>
    <p>xdcfb dgdg dfg df g df g dfg d fgdfgdf dfgd fgdfgdfgdf dfg d fgdf g df gdfgdfgdf gdf g df</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a> </p>
  </div>
  <div class="col-md-2">
    <h1>xdfdfdf</h1>
    <p>xdcfb dgdg dfg df g df g dfg d fgdfgdf dfgd fgdfgdfgdf dfg d fgdf g df gdfgdfgdf gdf g df</p>
    <p><a class="btn btn-primary btn-lg" href="#">Learn more</a> </p>
  </div>
</div>
